//index頁面樣式


// 開場文字
.opening-font {
    padding: 10vh 8%;

    .en-type-1.en-mobile-type-1 {
        padding-bottom: 40px;
    }
}

.section-title {
    color: $text-color-1;
}


// 卡片2欄位排版
.index-project-card-layout-flex {
    display: flex;
    grid-column-gap: 40px;

    article {
        flex: 1;
    }
}

// 卡片
.index-project-card {
    margin-bottom: 80px;
    line-height: 0;

    .card-banner {
        width: calc(100% - 40px);
        min-height: 420px;
        border-radius: $border-radius;
        position: relative;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        margin-top: -120px;

        .point {
            color: $primary-default;
            padding: 120px 0px 0px 00px;
            position: relative;
            opacity: .2;
        }

        .card {
            width: 100%;
            margin-left: -80px;
            background-color: $black-white;
            border-radius: $border-radius;
            padding: 156px 40px 40px 120px;

            h2,
            h5 {
                padding-bottom: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .index-content {

        // 開場文字
        .opening-font {
            padding: 12vh 0px 12vh 60px;

            .en-type-1.en-mobile-type-1 {
                padding-bottom: 24px;
            }
        }
    }

    // 卡片2欄位排版
    .index-project-card-layout-flex {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    // 卡片
    .index-project-card {
        margin-bottom: 32px;

        .card-banner {
            width: 100%;
            min-height: 180px;
            border-radius: 25px 25px 0 0;
        }

        .card-content {
            margin-top: 0px;

            .point {
                display: none;
            }

            .card {
                margin-left: 0px;
                border-radius: 0 0 25px 25px;
                padding: 16px;

                h2 {
                    padding-bottom: 8px;
                }
            }
        }
    }
}