// pin側選單

.pin-menu-item {
    height: 400px;

    .pin-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        z-index: 1;

        .pin-menu-input {
            padding: 8px 0px;

            .input {
                text-decoration: none;
                color: $primary-tint;

                &.active {
                    color: $primary-default;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .pin-menu-item {
        height: auto;

        .pin-menu {
            display: flex;
            white-space: nowrap;
            overflow-x: scroll;
            background-color: $black-5;
            padding: 8px 24px;

            .pin-menu-input {
                padding: 4px 0px;
                margin-right: 24px;
            }
        }
    }
}